@font-face {
  font-family: "verJs";
  src: url('iconfont.eot?t=1552017381506'); /* IE9 */
  src: url('iconfont.eot?t=1552017381506#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAwAAAsAAAAAFiAAAAuwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCGNAqZdJUBATYCJANgCzIABCAFhG0HgiAbsxKjopySBiH7iwLbeUUgNk0H5+JMx3IEEKyoMFBg3xj2QdzKKlX2/alQoQ+l5OG//WL3zZ/9q44l1Sh6OokQ8eZRPHkmJEIn0UkcEnGwTN7haXP/Hgerg5UHLIpYRLNqPrlpL61mNlhM7v8mFm2D3WgvvwcY3ZxO8/cAxIAkVQv3QJNWjnMeWRedzx0T8Io3zGvg/3L5e9uLUDW0KiTWJO+OkpeEYemh1S5RdItjECpHKVUYcPC7/t/4brz8zk2t45miBZH/v9/KizOzUQ+zOYoN1p97M4GOHcLAS+e3D42BjMyBDredkY1BKk2u8Qyt5LrkxFzHWxSt9Dr14Y3/4+Of49EiaVToVpevnqWNwwJ+nankG7nR1T+lPInXSVQ4CMikUWlpdFQhPeizTll3sp+AvfzYv75VFOTRzIPFiRaMHFM9WbYYL3+VgfLt19eNlQIKSch2vl3f+EmGvTzuENswy6j/wgMGZuz0LaB6wpK9rDZHMoVo6BgaceHKlqihfQ9ip1m3BAqwwxhQSGHMgIKE0aJgYfQpHmEsgMIKo0vhhNGjRIcRFIE2DB8J0AYfA5DBqwFq8MkAc/D5AAlcBjAFXwxQgeMADfC/ADrgfQBD8H6AEfgAwBh8CNLExdHRSxOsUH0UcOLZ5juNhw1y+Uxm6c9k61wPrUMErBMpUW3bz/WkbO/1dk6wpIzyyJ3tHa5iWp/q9/f2eqd6yBm5UGGe1L7Xff3+7lucrjsQBOEmN9jspm5Zv5HZ5gnbjh8O1LW1bsDmQYkx1qKQMMwCxv8SCM0qghARJjHd9BscFkMTLr1UIdbghk5GNcSGRIRKAs0CCJu9rFkhtQgvW3Cx6Tf6sJi+0yQi+KOgWg3kYeAzQTio1HINilsssXA31GoZtlc/ynatWCNXqxgSUZRaBVMq0bbpcLpYimqNHBMtGtTC1MRikZrNjaaSgCQPIIhRDlChD4DrNrmBTqIA+GgzioKWIBA3QIg29YSt+gYNUwc06BR6FSaSaFWb5PRpzcVq6yNRVzE3hnRBlclpknZd4Gzr0uhi6yymkajig3GLUKt36CMcPq4mJ9I06wONFmg2i9Ztkm/GDQp95XwNmFJcp9AyRKN0S6YOo9GU0E9aqR4HXGCj/dhpjvuO+VC6jifSADU7QRS0H6mWSMUN4gmqfPM1affNLlnwPLqJDhB189QOKoZWy9zNsZgRRHJWRSQRpBjEZ5SbUqKLIV2jxvoIiUrLgDpFFtPBR3XCE0KFMQBy9SLzIwnxQGR6OAsm1Tod+rF4BI+leUzG2xXSaJk6ToqribYqrhlJs17Xxli/y6qb6Ys2BOwjCrsILiFqOx/UR0TtIKJBPojE7WiQqmMajocaNqLZ2rauhI1Mf11cpsHTqPD3K1q/2U1+hOuwQe+hOF51guBClR4quphSHVQfwDAf5nFLIN4C5O2YSA00QHc4kBlOl+0d9ia1D8VR9/3vg3RdTqyhnib8SD2mPNo5CwfpNecvqlVvcI/Nhz1tWw+Nqxt9N8O2AOd1WxbVHanutZsOedi2HZY27LNBdZu3cJ03bJuw6ObEg3rxZjx0tjkbsNpD2Vy7rnmOFtMmyGamMqX7PkfBmN4dq4tEfUUafcqh4aK9MHRxxTMIQlIgzY/F7y1NhEjdQtcowsS87j2oMik/l6Gv7gsUht0vNfLcs0BGl7pZPgGDRfg5Jt6CiYigatgmuSAU7ZRLesgF5mvT/ibujt6uvx0LxH7yeXPyrMCApFVGcBlMKlRPmM38b9l9rwS7du/e7sc/4FcBWYKbrq+EbAAqWIfW5i1ewhay+GC/bwVkC16DXwI24LMOVLC+luzafYnVBI7YDQLAzvHkeTZbDXI9OQDEeuWQPHg64KuMc1mV3MLzzPGMdXFtE9gFtJ5ZfJVYig/4+6ZDdCjJPS9fyolCb9JvoSmTQwUiAaxPsb/ZDeQOu7KydjmALv3SpQ3Ya0y2lPJlmDVoQn6FzV+6THR+sUWDAvjlZB1Fvv8gHyV8/+5UkX98R45S9eMHej+kDRkYQNoAA4OoQgYHSW18xuCA6O+zF12VzsBZBi8anZWuwLXJ1XgcNgaXPX7WtRECKANPmptPnGiGpEYmYCpfE1Uiu3HKtwPKYIZZ48xsSk2rx01qehM/BXF7YHF7OJn6hje/ojiERxoPpfJdMfBDMiRqUggugAj/Tezx4LkHLAjJ3YDcuoVsEC5xtHirDO5Mp9GL4zD/hbmCzRftAmK2mGV3XWVBX6G22aMZ53DGq+48l2yUa+twi2ojGMWg5jypec5KMOdLjVtNtCKg2q26NCg+FFhDxDwruYFYeXqxHoiP4jskW0t3Dg8XlyxfvspQVgDuFqVu3x+/JznsEFM65ffy8PTZPrKuKIkbPqWqg7GNKf0ZVIlSsmsyE+5/xvhYt/CvZdUV2NipDV7fCoKrl4V007sF2efw6WUJyVN8vLMpaGVBZg1fxkq/b2+wjbA1uJgXte2y19t/t9O7HLL7bn8I8KCccsXP70qSKCTQ4kMre5Oz41e7DrHmDf0TyzeSiRq5bhLz0GzOInphrAenamqAcnd5w4g99U2OqalHXmH1q+ujXpMaxtTKsNtIPUidg07aaZ6KOfydRZGtYE8Sh/LOpfIndVaCGfE5pfh/gsLxojPTc2zeyeuXtJqnOxUsbxyBsusTRwhABU3s9GdFYs5bKVj4OYszc1Rg1u4wROj89izw42QdI//4QT62cYmTGH8mK5rl2ylelUNwZoc9M0R0bXhU/HjgJHZHWZkh+yMp1UkXhT/Yz0Yl/uNkcUVZ6eFH020QyCv2yWWMAN8fD/XRvtD6hr74XT9zvpzk872+eK0pJ8NLgvDdiS80N7k3n+vGP/CM8HwACis1z9OH657blO+M2FkOXOckPte85L6stCQsiKDrdc9vcW9pLMsUZcAqOku2syOfFS5xEuOfQNNAs4YVy2J5NUnnKf286lzEzRrlPClg1J+bLlZrrytXkF7hEmdInJpzVEnkJGFqlyk+fnPA6nQY3hoosVvLuPrAcS3ZwsWuuqrpg+c8/qFJWB1BWRP9J13a3RFVEXjIpZbVcu1qi49jQJ2Qibrv+PR2F2OC3c7wgrgLoWsUCd0t7i337sUc68k17lVJZ4HAhHcFMl2Ohb+ZSd1TPFpT3OiNu01ZUzBf0FR1xhEHTn/3HVYj7cjwMNKBaI73/0ebdtLxJ0o2Ui7RHC+RTyH2X8G411YAWFd6hkx8NjM6jWQDWoOMJg2kg1lPOI5k0JOMZdZ5/k76ZmyyiTRo/XWv7UiWUf3IV8QXuccY2/h88DtC9duPjRQtdoHUk67XMyOSIdngUFjdedZX61iQp9UnVn8kL2t/3RB38vHZzurn+e7/Fvo/suLHptZDXxO3+m2jJfHSb3+Q/2osPib+JFD6Kn8NsWeKdCLmsflVNpa2dWnzKv87fJ2VVUZbndDhhWxY4cStKYm5sH4PFvMYJU3bUaVlp2W2PYgauk6iWstZ1HFAweldU7O1RW5jv1UGCiPbUTLwBVVG+i2z7U3UsPAS1UZRoY4rsb5g1+64MTohkAypSN6FU1hpZ/Io6HgHJhSSkgm+9xOQdxViMyIq23ABFZCMQ/yL2WLWQhOW4ty4HRQFipowA8WxZa63NyLryw6NFZaNkYsIkNgNnhKqvceeREEVvTAb5b7/HWAEBYlqRvyO/QQQz21eiBYhSsDyglVCI06l+xwvjC1zmdSE3Z+gkpDPJCh4LRJmlm+XAQqLTWxRXdsWyWaqF2Xx8KI8E8zuG5Xe4CpSVJGjEXU0oxXt6EQ3etGPQQxjFOOYxDRmMY9FLGMVazZ3QJKyPRNklbhOXQQ/MJggM5bd0lX/IQtlQeVRgm8RstUsdJxGN+iUUIV58ZOVUwT9V0mVq0wXiJDGkDqOCEpJeU+8MMLh+24jJQk4KkBz5J/iazVuQ85YHjz7hHpMMnUovXXXIGPdzSn7PigF3vcJtEu8bTQAAAAA') format('woff2'),
  url('iconfont.woff?t=1552017381506') format('woff'),
  url('iconfont.ttf?t=1552017381506') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552017381506#iconfont') format('svg'); /* iOS 4.1- */
}

.verJsFont {
  font-family:"verJs" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e631";
}

.icon-guanbi:before {
  content: "\e676";
}

.icon-plus:before {
  content: "\e67c";
}

.icon-gobottom:before {
  content: "\e65d";
}

.icon-minus:before {
  content: "\e68b";
}

.icon-check-box-others:before {
  content: "\e662";
}

.icon-info:before {
  content: "\e7c5";
}

.icon-menu:before {
  content: "\e603";
}

.icon-check-box-cicre:before {
  content: "\e65a";
}

.icon-warning:before {
  content: "\e68f";
}

.icon-error:before {
  content: "\e621";
}

.icon-edit-remark:before {
  content: "\e623";
}

.icon-info-o:before {
  content: "\e614";
}

.icon-check-box:before {
  content: "\e600";
}

.icon-caret-left:before {
  content: "\e6cc";
}

.icon-caret-down:before {
  content: "\e6cd";
}

.icon-caret-right:before {
  content: "\e6ce";
}

.icon-caret-up:before {
  content: "\e6d0";
}

.icon-radio-cicre:before {
  content: "\e677";
}

.icon-gotop:before {
  content: "\e602";
}

.icon-radio:before {
  content: "\e66a";
}

.icon-success:before {
  content: "\e61a";
}

.icon-refresh:before {
  content: "\e652";
}

.icon-lg{font-size: 2em}

